<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>小眠的博客</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/base.css">
	<style>
		.content .item {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.content .item img {
			width: 100%;
			height: 100%;
			box-shadow: 0px 0px 10px #ccc;

		}

		.content .item .title:hover {
			text-decoration: underline;
			cursor: pointer;
		}


		.content .item div:first-child:hover img {
			opacity: 0.7;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}

		.content .item .intro {
			margin-top: 10px;
			color: #ccc;
			font-size: 14px;
		}
	</style>
</head>

<body>
	<div id="index" class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" style="display:flex;">
						小眠的博客
					</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">首页</a></li>
						<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
								<ul class="dropdown-menu" id="dropdown-menu">
									<li v-for="(item,index) in cateData" :key="item.cate_id">
										<a href=`/cate.html?id=${item.cate_id}`>{{item.cate_name}}</a>
									</li>
								</ul>
							</li>
						<li><a href="/tags.html">标签</a></li>
						<li><a href="/about.html">关于我</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="content">
			<h4>最新文章</h4>
			<div class="artlist" id='artlist'>
				<div class='item row' v-for="(it,index) in article" :key="it.id">
					<div class="col-md-2">
						<a :href=`/detail.html?id=${it.id}`>
							<img :src='it.pic ? `http://127.0.0.1:4700/${it.pic}` : "./assets/image/logo.png"'>
						</a>
					</div>
					<div class="col-md-10">
						<div class="date ">作者：{{it.username}} &nbsp; {{it.add_date}} &nbsp;分类：<a :href=`/cate.html?cate_id=${it.cate_id}`>&nbsp;{{it.cate_name}}</a></div>
						<a :href=`/detail.html?id=${it.id}`><div class="title">{{it.title}}...</div></a>
						<div class="intro">{{it.title}}</div>
					</div>
					<hr>
				</div>

			</div>
		</div>
		<button type="button" id="loadMore" class="btn  btn-block">查看更多</button>
		<hr>

		<div class="footer" style="text-align:center;font-size: 14px; color: #999;margin:10px 0;">
			首页 | 主站 | GitHub | created at 2022/04/15 | Powered by 小眠
		</div>
	</div>
</body>
<script src="./assets/js/jquery.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.2/moment.js"></script>
<script src="/assets/js/vue.js"></script>
<script type="text/javascript">
const vm = new Vue({
        el: "#index",
        data: {
            cateData: [],
            article: [],
            page: 1,
            pagesize: 5,
            articleLength: 1,
        },
        created() {
            this.initCateData()
            this.initArticle(this.page, this.pagesize)
        },
        methods: {
            // 文章分类
            async initCateData() {
                let result = await $.get('http://127.0.0.1:4700/api/cate')
                result.map(item => item.cate_id = `/cate.html?cate_id=${item.cate_id}`)
                this.cateData = result
            },
            // 文章分页
            async initArticle(page, pagesize) {
                let result = await $.get(`http://127.0.0.1:4700/api/article?page=${page}&pagesize=${pagesize}`)
                let { id, cate_id, cate_name, username, title, add_date, pic } = result
                if (result.length > 0) {
                    let newArticle = result.map(item => {
                        item.add_date = moment(add_date).format('YYYY-MM-DD HH:mm:ss');
                        return item
                    })
                    // 拼接数据  原来的数据(上一次的数据)拼接新获取的数据
                    this.article = [...this.article, ...newArticle]
                    return
                }
                layer.msg('数据已经加载完毕了', { icon: 1 })
                this.articleLength = result.length
            },
            loadMore() {
                this.initArticle(++this.page, this.pagesize)
            }
        }
    })


</script>

</html>